In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pp
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

In [5]:
%matplotlib inline

In [6]:
df = pd.read_csv('avocado.csv')
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,Season#,Season,Month,region,weekday vs weekend day
0,51,1/4/15,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,4,Winter,1,Albany,NaN
1,51,1/4/15,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,4,Winter,1,Atlanta,NaN
2,51,1/4/15,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,4,Winter,1,BaltimoreWashington,NaN
3,51,1/4/15,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,conventional,2015,4,Winter,1,Boise,NaN
4,51,1/4/15,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,conventional,2015,4,Winter,1,Boston,NaN

In [7]:
df.describe()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year,Season#,Month
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899,2.526604,6.177215
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938,1.151675,3.534130
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000,1.000000,1.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000,1.000000,3.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000,3.000000,6.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000,4.000000,9.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000,4.000000,12.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 18 columns):
Unnamed: 0                 18249 non-null int64
Date                       18249 non-null object
AveragePrice               18249 non-null float64
Total Volume               18249 non-null float64
4046                       18249 non-null float64
4225                       18249 non-null float64
4770                       18249 non-null float64
Total Bags                 18249 non-null float64
Small Bags                 18249 non-null float64
Large Bags                 18249 non-null float64
XLarge Bags                18249 non-null float64
type                       18249 non-null object
year                       18249 non-null int64
Season#                    18249 non-null int64
Season                     18249 non-null object
Month                      18249 non-null int64
region                     18249 non-null object
weekday vs weekend day     9 non-null object
dtypes: float64(9), int64(4), object(5)
memory usage: 2.5+ MB

In [9]:
df['Date'] = pd.to_datetime(df.Date)

In [10]:
dt0 = (df.Date)[0]
dt0

Timestamp('2015-01-04 00:00:00')

In [11]:
df['year'] = df.Date.dt.year
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,Season#,Season,Month,region,weekday vs weekend day
0,51,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,4,Winter,1,Albany,NaN
1,51,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,4,Winter,1,Atlanta,NaN
2,51,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,4,Winter,1,BaltimoreWashington,NaN
3,51,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,conventional,2015,4,Winter,1,Boise,NaN
4,51,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,conventional,2015,4,Winter,1,Boston,NaN

In [12]:
pd.get_dummies
df_dummies = pd.get_dummies
df = pd.concat([df, df_dummies], axis = 1)
# X = df[list_ofcolnames]
# y = df['AveragePrice']
# model.fit
# model=sklearn.linear_models.linearregression()

TypeError: cannot concatenate object of type "<class 'function'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [ ]:
prices = pd.read_csv('avocado.csv').drop(['Unnamed: 0'],axis = 1)

In [ ]:
prices['Date'] = pd.to_datetime(prices['Date'])

In [ ]:
reg = linear_model.LinearRegression()

X_train,Y_train = pd.DataFrame(['Seasons']),['AveragePrice']

In [ ]:
model = reg.fit(X_train,Y_train)

In [ ]:
X_test,Y_test = pd.DataFrame(['Season#']),['AveragePrice']

pred = model.predict(X_test)

In [ ]:
mean_squared_error(Y_test,pred)

In [ ]:
r2_score(Y_test,pred)

In [ ]:
region = 'Southeast'
(df['region'] == region).sum()

In [18]:
pricemap = {}
regions = set (df['region'].values)
seasons = set (df['Season'].values)
for region in regions: 
    for season in seasons: 
        prediction = df[(df['region'] == region) & (df['Season'] == season)].mean()['AveragePrice'] 
        print(region, season)
        print(prediction)

CincinnatiDayton Winter
1.099148936170213
CincinnatiDayton Fall
1.3682051282051284
CincinnatiDayton Summer
1.2614102564102565
CincinnatiDayton Spring
1.1395454545454546
Detroit Winter
1.2106382978723405
Detroit Fall
1.4074358974358976
Detroit Summer
1.2544871794871797
Detroit Spring
1.2487500000000002
Denver Winter
1.0943617021276593
Denver Fall
1.3651282051282052
Denver Summer
1.354615384615384
Denver Spring
1.1007954545454546
Atlanta Winter
1.2706382978723405
Atlanta Fall
1.5444871794871795
Atlanta Summer
1.3080769230769234
Atlanta Spring
1.2532954545454544
Louisville Winter
1.2313829787234043
Louisville Fall
1.4469230769230772
Louisville Summer
1.2805128205128207
Louisville Spring
1.2092045454545455
Orlando Winter
1.3705319148936168
Orlando Fall
1.653974358974359
Orlando Summer
1.5448717948717947
Orlando Spring
1.4859090909090908
NewYork Winter
1.5977659574468088
NewYork Fall
1.8024358974358974
NewYork Summer
1.8180769230769231
NewYork Spring
1.7196590909090907
PhoenixTucson Winter
1.107659574468085
PhoenixTucson Fall
1.4366666666666668
PhoenixTucson Summer
1.317692307692308
PhoenixTucson Spring
1.0784090909090909
RaleighGreensboro Winter
1.4492553191489361
RaleighGreensboro Fall
1.6926923076923082
RaleighGreensboro Summer
1.5855128205128208
RaleighGreensboro Spring
1.5193181818181818
Portland Winter
1.1537234042553193
Portland Fall
1.5610256410256411
Portland Summer
1.4691025641025637
Portland Spring
1.1430681818181818
RichmondNorfolk Winter
1.2587234042553193
RichmondNorfolk Fall
1.392820512820513
RichmondNorfolk Summer
1.3144871794871793
RichmondNorfolk Spring
1.215681818181818
Nashville Winter
1.17531914893617
Nashville Fall
1.3589743589743586
Nashville Summer
1.2012820512820512
Nashville Spring
1.1307954545454544
Tampa Winter
1.3154255319148938
Tampa Fall
1.4975641025641024
Tampa Summer
1.4034615384615383
Tampa Spring
1.4347727272727273
Syracuse Winter
1.462021276595745
Syracuse Fall
1.494615384615385
Syracuse Summer
1.5773076923076923
Syracuse Spring
1.5548863636363637
Columbus Winter
1.190531914893617
Columbus Fall
1.3784615384615386
Columbus Summer
1.2656410256410258
Columbus Spring
1.1964772727272728
SouthCentral Winter
1.0477659574468086
SouthCentral Fall
1.2388461538461537
SouthCentral Summer
1.1014102564102564
SouthCentral Spring
1.03625
Chicago Winter
1.4045744680851064
Chicago Fall
1.7548717948717945
Chicago Summer
1.624102564102564
Chicago Spring
1.4840909090909091
SanDiego Winter
1.23
SanDiego Fall
1.6479487179487178
SanDiego Summer
1.4835897435897438
SanDiego Spring
1.2806818181818185
Boston Winter
1.4793617021276595
Boston Fall
1.494871794871795
Boston Summer
1.5944871794871793
Boston Spring
1.561477272727273
HartfordSpringfield Winter
1.7362765957446804
HartfordSpringfield Fall
1.8326923076923078
HartfordSpringfield Summer
1.8971794871794874
HartfordSpringfield Spring
1.8245454545454545
Plains Winter
1.3359574468085105
Plains Fall
1.5843589743589745
Plains Summer
1.4770512820512824
Plains Spring
1.376931818181818
WestTexNewMexico Winter
1.1674193548387095
WestTexNewMexico Fall
1.5146153846153845
WestTexNewMexico Summer
1.2753947368421052
WestTexNewMexico Spring
1.125340909090909
Roanoke Winter
1.2188297872340426
Roanoke Fall
1.3562820512820513
Roanoke Summer
1.2820512820512822
Roanoke Spring
1.1527272727272726
GrandRapids Winter
1.359468085106383
GrandRapids Fall
1.5897435897435896
GrandRapids Summer
1.571025641025641
GrandRapids Spring
1.526818181818182
BaltimoreWashington Winter
1.425531914893617
BaltimoreWashington Fall
1.597948717948718
BaltimoreWashington Summer
1.618205128205128
BaltimoreWashington Spring
1.5194318181818183
SouthCarolina Winter
1.3040425531914894
SouthCarolina Fall
1.5288461538461542
SouthCarolina Summer
1.4305128205128206
SouthCarolina Spring
1.3738636363636365
LasVegas Winter
1.2604255319148936
LasVegas Fall
1.6578205128205128
LasVegas Summer
1.4452564102564105
LasVegas Spring
1.207159090909091
TotalUS Winter
1.2238297872340425
TotalUS Fall
1.4779487179487178
TotalUS Summer
1.3498717948717949
TotalUS Spring
1.2525
DallasFtWorth Winter
1.04
DallasFtWorth Fall
1.2275641025641026
DallasFtWorth Summer
1.0706410256410255
DallasFtWorth Spring
1.0217045454545455
Boise Winter
1.2206382978723405
Boise Fall
1.5939743589743587
Boise Summer
1.4403846153846156
Boise Spring
1.1846590909090908
NewOrleansMobile Winter
1.1863829787234044
NewOrleansMobile Fall
1.422179487179487
NewOrleansMobile Summer
1.3421794871794872
NewOrleansMobile Spring
1.294090909090909
MiamiFtLauderdale Winter
1.3291489361702127
MiamiFtLauderdale Fall
1.5110256410256413
MiamiFtLauderdale Summer
1.4060256410256413
MiamiFtLauderdale Spring
1.4813636363636362
Houston Winter
0.9947872340425534
Houston Fall
1.1956410256410257
Houston Summer
1.065
Houston Spring
0.9586363636363638
Pittsburgh Winter
1.3432978723404254
Pittsburgh Fall
1.3661538461538463
Pittsburgh Summer
1.428205128205128
Pittsburgh Spring
1.3285227272727271
StLouis Winter
1.3172340425531917
StLouis Fall
1.4926923076923078
StLouis Summer
1.5407692307692304
StLouis Spring
1.3990909090909092
GreatLakes Winter
1.2404255319148936
GreatLakes Fall
1.4747435897435897
GreatLakes Summer
1.3733333333333333
GreatLakes Spring
1.291818181818182
SanFrancisco Winter
1.576063829787234
SanFrancisco Fall
1.985128205128205
SanFrancisco Summer
1.9783333333333333
SanFrancisco Spring
1.733181818181818
Seattle Winter
1.250531914893617
Seattle Fall
1.6764102564102568
Seattle Summer
1.6389743589743593
Seattle Spring
1.2663636363636364
Indianapolis Winter
1.2365957446808513
Indianapolis Fall
1.4657692307692307
Indianapolis Summer
1.3135897435897437
Indianapolis Spring
1.2625
Midsouth Winter
1.3272340425531914
Midsouth Fall
1.5178205128205124
Midsouth Summer
1.446153846153846
Midsouth Spring
1.350681818181818
NorthernNewEngland Winter
1.4447872340425532
NorthernNewEngland Fall
1.522051282051282
NorthernNewEngland Summer
1.4930769230769227
NorthernNewEngland Spring
1.45875
West Winter
1.1286170212765958
West Fall
1.4771794871794874
West Summer
1.4201282051282051
West Spring
1.1128409090909093
Southeast Winter
1.2914893617021275
Southeast Fall
1.55
Southeast Summer
1.4188461538461536
Southeast Spring
1.3586363636363636
BuffaloRochester Winter
1.4431914893617024
BuffaloRochester Fall
1.4793589743589746
BuffaloRochester Summer
1.5844871794871793
BuffaloRochester Spring
1.56875
Spokane Winter
1.27
Spokane Fall
1.6924358974358973
Spokane Summer
1.6119230769230772
Spokane Spring
1.2669318181818183
Sacramento Winter
1.4547872340425532
Sacramento Fall
1.7389743589743585
Sacramento Summer
1.7365384615384618
Sacramento Spring
1.59375
Jacksonville Winter
1.3619148936170211
Jacksonville Fall
1.6458974358974359
Jacksonville Summer
1.599102564102564
Jacksonville Spring
1.4723863636363637
LosAngeles Winter
1.08563829787234
LosAngeles Fall
1.4635897435897438
LosAngeles Summer
1.2624358974358973
LosAngeles Spring
1.094659090909091
California Winter
1.231595744680851
California Fall
1.6283333333333334
California Summer
1.485769230769231
California Spring
1.2835227272727272
Philadelphia Winter
1.5111702127659576
Philadelphia Fall
1.6770512820512822
Philadelphia Summer
1.7176923076923079
Philadelphia Spring
1.645681818181818
HarrisburgScranton Winter
1.451063829787234
HarrisburgScranton Fall
1.5232051282051284
HarrisburgScranton Summer
1.560512820512821
HarrisburgScranton Spring
1.529090909090909
Northeast Winter
1.5145744680851065
Northeast Fall
1.6212820512820512
Northeast Summer
1.6760256410256409
Northeast Spring
1.6123863636363638
Charlotte Winter
1.4708510638297871
Charlotte Fall
1.7339743589743593
Charlotte Summer
1.6583333333333332
Charlotte Spring
1.590681818181818
Albany Winter
1.5173404255319152
Albany Fall
1.5912820512820514
Albany Summer
1.5989743589743588
Albany Spring
1.5472727272727276

In [20]:
'SW'.mean()

AttributeError: 'str' object has no attribute 'mean'